*::after,::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sidebar {
  background-color: #ffff;
  height: 100vh;
  width: 275px;
  position: fixed;
  z-index: 10000;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  transition: 0.5s ease-in-out;
}

#sidebar-logo {
  height: 80px;
  padding: 5px 0;
  text-align: center;
}

#sidebar-logo img {
  height: 100%;
}

#header-navbar {
  position: sticky !important;
  top: 0;
  left: 0;
  background-color: white;
  right: 0;
  height: 80px;
  box-shadow:2px 2px 2px rgb(0 0 0 / 16%);
}

#main-area {
  transform: translate(275px);
  width: calc(100% - 275px);
  transition: 0.5s ease-in-out;
}

#content {
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #F5F7FA;
  min-height: calc(100vh - 120px);
}

#footer {
  border-top: 1px solid black;
  z-index: 1;
  width: 100%;
  bottom: 0;
  height: 40px;
}

i {
  cursor: pointer;
}

/* CSS CLASSES FOR SMOOTH TRANSITION */
.hide-left-sidebar {
  transform: translateX(-350px);
}

.collapse-main-content {
  width: 100% !important;
  transform: translateX(0px) !important;
}

/* Accordion css */

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion-body {
  padding-left: 40px;
  padding-bottom: 7px;
}


.btn {
 margin-top: 10px;
}


#fade-wrapper {
  display: none;
  position: fixed;
  z-index: 10000000000000;
  height: 100%;
  width: 100%;
  background:white;
}

#personal-details-popup {
  margin-top: 50px;
}


