.full-screen {
    margin: auto;
    margin-top: 100px;
}

table thead tr {
    height: 60px;
    background: #36304a;
}

.main-content {
    width: 100%;
    background: linear-gradient(to left,#34373a,#5a626d);
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);

}

@font-face {
    font-family: myFirstFont;
    src: url(https://kinsta.com/blog/web-safe-fonts/#2-baskerville);
 }
 
* {
    margin: 0;
    padding: 0;
    font-family: myFirstFont;
    box-sizing: border-box;
}

table,
th,
td {
  text-align: center;
}

th {
  height: 30px;
  padding: 15px;
}

td {
  height: 50px;
  vertical-align: bottom;
  padding: 15px;
}
.table-head {
    background-color: transparent;
}

input {
    height: 30px;
}


table-head th {
    margin: 0 30px !important;
}
 #table-data tr {
    height: 50px;
    padding: 30px 0;
 }

 #add-button {
    padding: 20px ;
 }