* {
    box-sizing: border-box;
}

body {
    background-color: #eeeef7 !important;
}

#bank-form-area {
    margin-top: 50px !important;
    margin: auto;
    background: linear-gradient(to top, #34373a, #5a626d);
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    width: 60%;
    max-width: 100%;
    color: white;
    padding-bottom: 30px;
}

#check-preview {
    padding: 20px 0 10px 40px;
}

input {
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 25px !important;
    background-color: #eee;
}

input:focus {
    border: 3px solid red !important;
}

button{
    border-radius: 25px !important;
}

